<div class="dashboard-container" *ngIf="!isTokenExpired; else expiredTemplate">
  <div class="welcome-message">
  <h1 *ngIf="isAuthenticated">¡A tus servicios {{ userName }}!.</h1>
</div>
  <p class="subtitle">Estás autenticado y puedes acceder a esta página.</p>

  <!-- Resumen de actividad -->
  <div class="dashboard-summary">
    <div class="summary-card">
      <h3>Última compra</h3>
      <p>Pastel de Chocolate</p>
    </div>
    <div class="summary-card">
      <h3>Órdenes activas</h3>
      <p>2</p>
    </div>
    <div class="summary-card">
      <h3>Mensajes nuevos</h3>
      <p>5</p>
    </div>
  </div>

  <div class="dashboard-links">
    <a routerLink="/productos" class="fas fa-box"> Ver Productos</a>
    <a routerLink="/carrito-compras" class="fas fa-shopping-cart"> Ir al Carrito</a>
    <a routerLink="/perfil" class="fas fa-user"> Mi Perfil</a>
  </div>

  
</div>


<ng-template #expiredTemplate>
  <div class="expired-container">
    <h1>El token ha expirado</h1>
    <p>Por favor, vuelve a iniciar sesión.</p>
    <a routerLink="/login" class="login-btn">Iniciar sesión</a>
  </div>
</ng-template>
